:root {
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-epilogue: 'Epilogue', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-md: 500;
  --font-sb: 600;
  --font-b: 700;

  --main-color: #060307;
  --white-color: #fff;

  --btn-shadow:
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  --background: #23132b;
  --btn-background: #764191;

  --form-error-color: #af0404;
  --form-placeholder-color: rgba(0, 0, 0, 0.6);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--main-color);
  color: #fff;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;

  border-radius: 12px;
  padding: 10px 24px;
  border-color: transparent;
  background: #764191;

  font-weight: 500;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}

.btn-primary:active {
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05);
}
