/* Styles for Mobile devices */
.container {
  padding: 0 16px;
  max-width: 320px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 64px;
    max-width: 1440px;
  }
}
