@font-face {
  font-family: 'Epilogue';
  font-display: swap;
  src: url('../../assets/fonts/Epilogue-VariableFont.woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  src: url('../../assets/fonts/IBMPlexSans-VariableFont.woff2');
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../../assets/fonts/Roboto-VariableFont.woff2');
}
