.about-us {
  padding: 64px 0;
}

.about-us .container {
  margin: 0 auto;
  padding: 0 16px;
}
.about-img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 168px;
  object-position: center 13%;
  border-radius: 16px;

  aspect-ratio: 343 / 168;

  margin-bottom: 48px;
}
.about-icon {
  margin-bottom: 20px;
  width: 64px;
  height: 64px;
}
.about-header {
  font-family: var(--font-epilogue);
  line-height: 1.2;
  letter-spacing: -0.01em;

  font-weight: var(--font-b);
  font-size: 44px;

  margin-bottom: 20px;
}
.about-text {
  font-family: var(--font-sans);
}
@media only screen and (min-width: 768px) {
  .about-us .container {
    padding: 0 32px;
  }
  .about-img {
    height: 413px;

    aspect-ratio: 704 / 413;

    margin-bottom: 24px;
  }
  .about-icon {
    margin-bottom: 24px;
    width: 80px;
    height: 80px;
  }
  .about-header {
    margin-bottom: 24px;
  }
  .about-text {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us {
    padding: 112px;
  }
  .about-us .container {
    padding: 0 64px;
    display: flex;
    gap: 32px;
  }
  .about-img {
    height: 664px;
    width: 640px;

    aspect-ratio: 640 / 664;

    margin-bottom: 0px;
  }
  .about-right {
    align-self: center;
  }
  .about-header {
    font-size: 60px;
  }
}
