/* #region Section artists styles */

.artists .container {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
.artists-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1440px) {
  .artists .container {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
.artists-subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}
.artists-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
  .artists-title {
    max-width: 523px;
    margin-bottom: 80px;
    font-size: 60px;
  }
}

/* #endregion */

/* #region Main artists list styles */
.artists-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  /* margin-bottom: 32px; */
}

@media only screen and (min-width: 768px) {
  .artists-list {
    gap: 32px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1440px) {
  .artists-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .artists-list-item {
    width: calc((100% - 32px) / 2);
  }
}
.list-item-img {
  border-radius: 16px;
  height: 168px;
  overflow: hidden;
  margin-bottom: 24px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

@media only screen and (min-width: 768px) {
  .list-item-img {
    height: 433px;
  }
}
.artists-tags-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.tags-list-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
}
.list-item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.list-item-descr {
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-item-btn {
  padding: 0px 6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 17px;

  border-radius: 12px;
  border-color: transparent;
  background-color: transparent;

  font-weight: 500;
  color: #fff;

  & span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & svg {
    fill: currentColor;
  }
  &:active {
    opacity: 1;
  }
}

/* #region Loader */

.loader {
  color: #fff;
  display: none;

  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow:
      10px 0 rgba(255, 255, 255, 0),
      20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow:
      10px 0 white,
      20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow:
      10px 0 white,
      20px 0 white;
  }
}

/* #endregion */

.load-more-btn {
  color: #fff;
  border: none;
  width: 100%;
  transition: var(--transition);

  & svg {
    fill: currentColor;
  }
}

.load-more-btn[hidden] {
  display: none;
}

.load-more-btn:active {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .load-more-btn {
    margin: 0 auto;
    max-width: 340px;
  }
}
@media only screen and (min-width: 1440px) {
  .load-more-btn {
    max-width: 170px;
  }
}
/* #endregion */

/* #region Hover effects */
@media (hover: hover) {
  .load-more-btn:hover {
    opacity: 0.6;
  }
}
/* #endregion */

/*! Empty  artist field
/* #region /Empty Artiset field */
.empty-artists {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  padding: 16px;
  background: #23132b;

    @media (min-width: 768px) {
        width: 704px;
        padding: 32px;
      }
    @media (min-width: 1440px) {
          width: 976px;
        }
}
.empty-artists-icon{
  fill: var(--white-color);
}
.empty-artists-title {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--white-color);
    
    @media (min-width: 768px) {
        font-size: 48px;
      }
}

.empty-artists-descr {
  font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--white-color);
}

.empty-artists-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  width: 256px;
  border: none;
  color: var(--white-color);

  @media (min-width: 768px) {
      width: 148px;
    }
}
/* #endregion */
