footer {
  padding-bottom: 48px;
}
.footer > .container {
  margin: 0 auto;
  font-size: 16px;
}
.footer-nav-div {
  text-align: center;
  margin-bottom: 48px;
}
.footer-logo-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.footer-logo {
  display: none;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-sb);
  row-gap: 32px;
}
.footer-nav-link:focus {
  color: var(--btn-background);
  transition: var(--transition);
}
.footer-soc-div {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-soc-list {
  margin: 24px 0 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.footer-soc-icon:focus {
  fill: var(--btn-background);
  transition: var(--transition);
}
.footer-copyright {
  text-align: center;
  text-wrap-mode: nowrap;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  footer {
    padding-bottom: 80px;
  }
  .footer-logo {
    display: block;
  }
  .mobile-footer-logo {
    display: none;
  }
  .footer-logo-link {
    margin-top: 10px;
  }
  .footer-nav-div {
    margin: 80px 0;
  }
  .footer-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 32px;
  }
  .footer-soc-div {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-soc-list {
    margin: 32px 0 0;
    margin-left: auto;
  }
  .footer-soc-icon {
    width: 32px;
    height: 32px;
  }
  .footer-copyright {
    margin-top: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-soc-icon {
    width: 24px;
    height: 24px;
  }
}
@media (hover: hover) {
  .footer-nav-item:hover {
    color: var(--btn-background);
    transition: var(--transition);
  }
  .footer-soc-icon:hover {
    fill: var(--btn-background);
    transition: var(--transition);
  }
}
