.feedback-modal:modal {
  padding: 0;
  width: 320px;
  height: 568px;
  max-width: none;
  max-height: none;
  border: none;
  border-radius: 16px;
  color: var(--white-color);
  background-color: var(--main-color);
  animation: fadein var(--transition);
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.feedback-modal::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.02);
}
.feedback-modal > .container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin: 0 auto;
  padding: 16px 16px 0;
  transition: var(--transition);
  height: 568px;
}
.feedback-close-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
  width: 32px;
  height: 32px;
}
.feedback-modal-title {
  margin: 0 auto;
  font-weight: var(--font-b);
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.01em;
  font-family: var(--font-epilogue);
}
.feedback-form {
  margin-bottom: 32px;
}
.feedback-name-inp,
.feedback-msg-inp {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  border-radius: 12px;
  color: var(--white-color);
  padding-left: 12px;
  margin: 8px 0 32px;
  min-width: 100%;
  max-width: 100%;
  min-height: 43px;
}
.feedback-msg-inp {
  padding: 12px 12px 10px;
  resize: none;
}
.feedback-rating {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 6px;
  margin-bottom: 32px;
}
.feedback-star-label > input {
  display: none;
}
.feedback-modal-star {
  fill: var(--white-color);
  cursor: pointer;
}
input[type='radio']:checked + .feedback-modal-star,
input[type='radio']:checked ~ .feedback-star-label .feedback-modal-star {
  fill: var(--btn-background);
}
.feedback-rating
  .feedback-star-label:has(input[type='radio']:checked):hover
  .feedback-modal-star,
.feedback-rating
  .feedback-star-label:has(input[type='radio']:checked)
  ~ label
  .feedback-modal-star {
  fill: var(--btn-background);
}
.feedback-submit-btn {
  border: none;
  color: var(--white-color);
  width: 100%;
}
.feedback-error {
  color: #af0404;
  border-color: #af0404;
}
.feedback-error-txt-name,
.feedback-error-txt-msg {
  color: #af0404;
  position: absolute;
  margin-top: -25px;
  font-size: 12px;
  display: none;
}
.feedback-rating {
  position: relative;
}
.feedback-error-rating-msg {
  color: #af0404;
  position: absolute;
  font-size: 12px;
  top: 35px;
  left: 0;
  display: none;
}
.is-open {
  display: block;
}
@media (hover: hover) {
  .feedback-submit-btn:hover {
    opacity: 0.6;
    transition: var(--transition);
  }
}
@media only screen and (min-width: 768px) {
  .feedback-modal:modal {
    margin: auto;
    width: 704px;
    height: 688px;
    border-radius: 16px;
  }
  .feedback-modal > .container {
    padding: 16px 16px;
    width: 704px;
    height: 688px;
    border-radius: 16px;
  }
  .feedback-modal-title {
    margin-bottom: 48px;
    font-size: 44px;
  }
  .feedback-form {
    margin: 0 16px;
  }
  .feedback-name-inp,
  .feedback-msg-inp {
    margin-bottom: 24px;
  }
  .feedback-rating {
    margin-bottom: 24px;
  }
  .feedback-submit-btn {
    margin: 0 auto;
    width: 340px;
  }
}
@media only screen and (min-width: 1440px) {
  .feedback-modal:modal {
    width: 864px;
  }
  .feedback-modal > .container {
    padding: 16px 16px;
    width: 864px;
  }
  .feedback-modal-title {
    font-size: 60px;
  }
  .feedback-form {
    margin: 0 48px;
  }
  .feedback-submit-btn {
    max-width: 108px;
    margin: 0 auto;
  }
  .feedback-submit-btn:focus {
    opacity: 1;
  }
}
