<section class="artists" id="artists">
  <div class="container">
    <p class="artists-subtitle">Artists</p>
    <h2 class="artists-title">Explore Your New Favorite Artists</h2>
    <div class="artists-results" id="artists-results">
      <ul class="artists-list"></ul>
      <span class="loader">Loading</span>
      <button class="js-load-more-btn btn-primary load-more-btn" type="button">
        Load More<span>
          <svg width="12" height="12">
            <use href="./assets/icons/symbol-defs.svg#arrow-down"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
