/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import 'modern-normalize';
@import url('./base/fonts.css');
@import url('./base/reset.css');
@import url('./base/base.css');
@import url('./base/container.css');

/* Sections style */
@import url('./sections/header.css');
@import url('./sections/footer.css');
@import url('./sections/hero.css');
@import url('./sections/arists.css');
@import url('./sections/about-us.css');
@import url('./sections/feedbacks.css');
@import url('./sections/modal-feedback.css');
@import url('./sections/modal-artist.css');
@import url('./sections/scroll-up.css');
