
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.test-slider{
    height: 100%;
background: #060307;
color: #fff;
}
.link-swiper{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    /* height: 50px; */
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4e75ff;
    color: #fff;
    margin-top: 20px;
    right: 50px;
}

.swiper{
    width: 1312px;
    height: 398px;
    margin: 0 auto;
}
.swiper-wrapper{
    
    
   
}
.swiper-slide 
{
   
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 59px;

    gap: 32px;
}

.list-star{
    display: flex;
}

.user-feedback{
    font-weight: 700;
        font-size: 32px;
        max-width: 768px;
        line-height: 1.3;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;
}

.user-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
}

.swiper-pagination-bullet {
    background-color: #999999 !important;
    opacity: 1;
    /* Чтобы цвет был насыщенным */
}

/* Только активная точка */
.swiper-pagination-bullet-active {
    background-color: #fff !important;
    transform: scale(1.2);
        /* Увеличит точку в 1.5 раза */
        transition: transform 0.3s ease;
        /* Добавит плавности */
}


.stars-static {
    display: flex;
    gap: 4px;
}

.star {
    width: 20px;
    height: 19px;
    background-color: #fff;
    /* Цвет пустой звезды */
    /* Рисуем форму звезды через маску (работает во всех браузерах) */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/* Красим нужное количество звезд */
.rating-set-1 .star:nth-child(1),
.rating-set-2 .star:nth-child(-n+2),
.rating-set-3 .star:nth-child(-n+3),
.rating-set-4 .star:nth-child(-n+4),
.rating-set-5 .star:nth-child(-n+5) {
    background-color: #ffca08;
    /* Цвет закрашенной звезды */
}